.movie-catalog-container {
  margin: 15px;
}

.movie-catalog-filter {
  margin-bottom: 30px;
}

.movie-catalog-list {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .movie-catalog-container {
    margin: 30px;
  }
}

@media (min-width: 1400px) {
  .movie-catalog-container {
    margin: 30px 100px;
  }
}
